# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Зависимости и сборка
node_modules
dist
dist-ssr
*.local

# Каталоги и файлы редактора
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Игнорирование зависимостей Node.js
node_modules/
.npm

# Игнорирование файлов окружения
.env

# Игнорирование файлов для фронтенда (если есть специфические файлы для client)
client/node_modules/
client/dist/
client/dist-ssr/
client/.npm
client/.env

# Игнорирование файлов для бэкенда (если есть специфические файлы для server)
server/node_modules/
server/dist/
server/.npm
server/.env
